//- inherting template layout from base.pug
extends base.pug

block scripts
    script(src='/static/index.js')

block style 
    style
      include ../static/style.css

block content
    section#introSection
      div#container_text
        div#head Let's share our life with others.
        div#subhead Donate food, clothes, books to needy ones.
      div#container_image
    section#donationSection
      h2 Donations Accepted 
      div.card
        h3 Food
        div.card-box
          div.card-img
            img(src="static/images/food.PNG")
          h4 Food donation helps a hungry stomach to stop its rumbling.
      div.card
        h3 Clothes
        div.card-box
          div.card-img
            img(src="static/images/clothes.PNG")
          h4 One person's trash is another person's treasure - donate old clothes!
      div.card
        h3 Books 
        div.card-box
          div.card-img
            img(src="static/images/books.PNG")
          h4  A donation of books can change the world.
    section#partnersSection
      div Our Partners
      div.parnters-logos
        img(src="static/images/berkshire-hathaway.PNG" class="partners-img")
        img(src="static/images/wipro.PNG" class="partners-img")
        img(src="static/images/tesla.PNG" class="partners-img")
        img(src="static/images/boa.PNG" class="partners-img")