//- index.pug (template from 'Includes' in pug documentation 'Including Plain Text')
doctype html
html
  head
    style
      include ../static/style.css
  body
    script
      include ../static/index.js