//- index.pug (template from 'Includes' in pug documentation 'Including Plain Text')
doctype html
html
  head
    style
      include ../static/style.css
  body
    nav#navbar
        ul
          div#logo
            img(src="/static/images/logo.png")
          //- syntax for nested tags/attributes
          li #[a(href = "/") Home]
          li #[a(href = "/") About]
          li #[a(href = "/") Services]
          li #[a(href = "/") Info]
          li #[a(href = "/") Contact Us]
  
    section#introSection
      div#container_text
        div#head Let's share our life with others.
        div#subhead Donate food, clothes, books to needy ones.
      div#container_image
    section#donationSection
      h2 Donations Accepted 
      div.card
        h3 Food
        div.card-box
          div.card-img
            img(src="static/images/food.PNG")
      div.card
        h3 Clothes
        div.card-box
          div.card-img
            img(src="static/images/clothes.PNG")
      div.card
        h3 Books 
        div.card-box
          div.card-img
            img(src="static/images/books.PNG")
    section#partnersSection
      div Our Partners
    footer#footer 
      | Footer Section

    script
      include ../static/index.js