h1{
    text-align: center;
    margin: 10px;
}

#container{
    min-height: 80vh;
    margin: 30px;
}

.myForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}

.myInput{
    display: inline-block;
    width: 45%;
    padding: 10px;
    margin: 10px;
    font-size: 15px;
}

.btn{
    padding: 10px 25px;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 12px;
    color: black;
    background: rgba(254,244,242,255);
    cursor: pointer;
    margin: 10px;
}