@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Rubik', sans-serif;                                                
}

/* ---------------------------------------------------------------------------------------- */

/* NAVBAR */
#navbar{
    background-color: rgba(254,244,242,255);
    padding: 5px 14px;
    display: flex;
}

#navbar #logo{
    display: flex;
    height: 70px;
}

#navbar ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

#navbar li{
    list-style: none;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

#navbar li a{
    text-decoration: none;
    padding: 15px 35px;
    font-size: 1.3rem;
}

#navbar ul li a:hover{
    color: black;
    background-color: white;
    border: 2px solid white;
    border-radius: 2px;
}

/* ---------------------------------------------------------------------------------------- */

/* INTRO SECTION */
#introSection{
    
    height: 600px;
    background-color: white;
    
    
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#introSection div#container_text{
    font-family: 'Rubik', sans-serif;                                                
    margin: 20px;
    width: 50%;
    height: 100%;
}

#introSection div#container_image{
    background: center / 80% no-repeat url("/static/images/donation.PNG");
    margin: 20px;
    width: 50%;
    height: 100%;
}

#introSection div#head{
    color: black;
    font-size: 3rem;
    padding: 20px;
    font-weight: 400;
}

#introSection div#subhead{
    color: black;
    font-size: 1.5rem;
    padding: 20px;
}

#introSection div#container{
    height: 600px;
    width: 50%;
    
}

/* ---------------------------------------------------------------------------------------- */

/* DONATION SECTION */
#donationSection{
    height: 500px;
    background-color: rgba(254,244,242,255);
}

#donationSection h2{
    color: black;
    font-size: 2rem;
    padding: 20px;
    font-weight: 400;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

#donationSection h3{
    color: black;
    font-size: 1.5rem;
    padding: 20px;
    font-weight: 400;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card{
    display: inline-block;
    border: 2px solid black;
    width: 28%;
    margin: 20px;
    height: 350px;
}

.card-img{
    display: flex;
    height: 200px;
    width: 60%;
}

.card-box{
    height: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card-box h4{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/* ---------------------------------------------------------------------------------------- */

/* PARTNERS SECTION */
#partnersSection{
    height: 400px;
    background-color: white;
}

#partnersSection div{
    color: black;
    font-size: 2rem;
    font-weight: 400;
    
    padding: 10px;
    margin: auto;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.partners-logos{
    max-width: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.partners-img{
    height: 200px;
    margin: 20px;
    padding: 10px;
}


/* ---------------------------------------------------------------------------------------- */

/* FOOTER */
#footer{
    height: 30px;
    background-color: rgba(254,244,242,255);
    border: solid 2px black;

    display: flex;
    flex-direction: row;
    justify-content: center;
}